// color variable
// font-color
$primary-font-color: #213547;
$color-font-white: #fff;

// background-color
$primary-background-color: #fff;
$color-background-dark: #242424;
$color-background-black: #000;
$color-background-midblack: #213547;

// border-color
$color-border-white: #fff;
$color-border-transparent: transparent;
$color-border-midblack: #213547;
